.keyboard {
  width: 730px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px 7px 0 0;
  margin: 0 auto;
  background-color: #999;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &_eng,
    &_rus {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__key {
    width: 40px;
    height: 40px;
    //border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    line-height: 200%;
    margin-left: 7px;
    margin-bottom: 7px;

    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    background: #333;
    
    transition: .2s;
    // &:hover {
    //   background-color: aqua;
    //   cursor: pointer;
    // }
  }
  .Backspace,
  .CapsLock,
  .ShiftLeft {
    width: 100px;
  }
  .Tab {
    width: 50px;
  }
  .Delete {
    width: 44px;
  }
  .Enter,
  .ShiftRight {
    width: 86px;
  }
  .Space {
    width: 320px;
  }
}
.hidden {
  display: none;
}
.active {
  // background-color: aqua;
  // transform: translateY(4px);
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
}
.active_caps {
  background-color: aquamarine;
}