.keyboard {
  width: 704px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #000;
  padding: 5px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &_eng,
    &_rus {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__key {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    line-height: 200%;
    margin-left: 5px;
    &:hover {
      background-color: aqua;
      cursor: pointer;
    }
  }
  .Backspace,
  .CapsLock,
  .ShiftLeft {
    width: 100px;
  }
  .Tab {
    width: 50px;
  }
  .Delete {
    width: 44px;
  }
  .Enter,
  .ShiftRight {
    width: 86px;
  }
  .Space {
    width: 320px;
  }
}
.hidden {
  display: none;
}
.active {
  background-color: aqua;
}